.portfolio__description {
  margin: 0 0 50px;
  padding: 0;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .portfolio__description {
    margin-bottom: 40px;
  }
}
