.about__cards {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 720px) {
  .about__cards {
    flex-direction: column;
  }
}
